body {background: url(http://www.hiltonhawaiianvillage.com/assets/img/home-lp/HHV_images_tablet_1680x1080_Locations-Travel.jpg) no-repeat; 
background-size: cover; background-attachment: fixed; }
h1 {color: #0e4fb7;}
h3 {font-family:'Hobo Std';}
h1 {font-family:'Times New Roman';}
h2 {font-family:'Hobo Std';}
p {font-family:'Arial';}
p { font-size: 100%}
p {color:#091830;}
h3 {color:#091830;}
hr { background-color: #0055ff;}
hr { height: 3px;}
hr { width: 85%;}
p {word-spacing: 2px;}
h1 {text-align:center}
h4 {color:#051123;}
h5 {font-family:'Arial';}
h5 {color:#051123;}
h2 {word-spacing: 10px;}